$color-bg: #FFFAF6;
$color-brown: #4D3E34;
$color-hover: darken(#9470C0,10%);
$color-text: #333;
$color-subtle: #666;
$color-faded: #a5a29e;
$color-footer-bg: #F0E8E0;
$inline-code-highlight: #EBD6C8;
$white: #fff;