header {
  @include group;
  padding: prem(20px) prem(20px) 0 prem(20px);
  position: relative;
}

// <h1> logo
header > h1 {
  font-size: prem(29px);
  line-height: prem(33px);
  margin: prem(20px) 0 0 0;
  position: relative;
  text-align: center;
  @include type-subheading;
  
  @media only screen and (min-width: $break-small) {
    float: left;
    margin-top: 0;
    text-align: left;
    width: prem(300px);
  }
}

// <h2> subheading
header > h2 {
  color: $color-subtle;
  font-size: prem(16px);
  line-height: prem(24px);
  margin-top: 0;
  text-align: center;
  @include type-italic;
  
  @media only screen and (min-width: $break-small) {
    float: right;
    text-align: right;
    width: prem(500px);
  }
}