header {
  @include group;
  padding: prem(27px) prem(20px) 0 prem(20px);
  position: relative;
  
  @media only screen and (min-width: $break-medium) {
    padding-left: prem(40px);
    padding-right: prem(40px);
  }
  
  // <h1> logo
  & > h1 {
    font-size: prem(29px);
    line-height: prem(33px);
    margin: 0 0 prem(2px) 0;
    position: relative;
    text-align: center;
    @include type-copy;
    
    @media only screen and (min-width: $break-medium) {
      float: left;
      margin-top: 0;
      text-align: left;
      width: prem(300px);
    }
    
    a, a:link, a:visited {
      color: $color-faded;
    }
    
    a:hover, a:focus, a:active {
      color: $color-brand;
    }
  }
  
  // <h2> subheading
  & > h2 {
    color: darken($color-faded,0%);
    margin-top: 0;
    text-align: center;
    @include type-italic;
    @include type-size-small;

    @media only screen and (min-width: $break-medium) {
      float: right;
      text-align: right;
      width: prem(260px);
    }
    
    // “by Paddy O’Hanlon”
    b {
      display: block;
      @include type-copy;
      font-style: normal;
    }
  }
}