body {
  @include image-2x-png(communications-officer-by-mark-doherty, 227px, 250px);
  background-position: center prem(104px);

  @media only screen and (min-width: $break-medium) {
    background-position: center prem(10px);
  }
  
  @media only screen and (min-width: $break-large) {
    background-position: pem(65px) pem(94px);
  }
}