// <ol>
.lesson-list {
  li {
    list-style: decimal;
    
    &.current_page_item a {
      font-weight: bold;
    }
  }
}

// <ul> for prev/next
.entry-content .lesson-navigation {
  @include clearfix;
  margin-left: 24px;
  margin-right: 24px;
  li {
    list-style: none;
    margin: 0;
    
    strong {
      color: $blue;
    }
  }
}

// <li>
.lesson-prev {
  float: left;
}
.lesson-next {
  float: right;
}